
/*To make hyperlinks black and un style on hover*/

legend {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

/*Styling the flash Message*/
.flash-message{
    color: rgba(194, 189, 192, 0.9);
    text-align: center;
}


/*Index page,Details page*/
.blog-date{
    margin-bottom: 10px;
}

/*Index page,Details page,Add Blog page*/
/*Make the text boxes fit the size of parent and border none*/
.blog-title, .blog-body{
    width:100%;
    border: none;
    margin-bottom: 20px;
}

/*Styling for blog details page*/
.blog-comment {
    padding:5px;
    margin: 5px;
}

.comment-name {
    font-style: italic;
}

.add-comment {
    margin-bottom:20px;
}

.add-comment-name , .add-comment-body{
    width:70%;
    border: none;
    padding:10px;
}

/*login page*/
.login-details {
    text-align: center;
    margin:auto;
}

.user-name-label {
    font-style: italic;
    margin:10px;
    font-weight: lighter;
}
