.blog {
    margin : 10px;
    padding : 5px;
}


.blog-title{
    margin:5px;
}

.blog-date {
    padding-left: 20px;
}

/*Styling the flash Message*/
.flash-message{
    text-align: center;
    color: darkslateblue;
}

/*To center the submit button*/
button {
    text-align: center;
    margin:auto;
    display:block;
}

/*user name in the login page*/
.user-name {
    margin:10px;
}

/*To make hyperlinks black and unstyle the hover*/
a {
    color: black;
    text-decoration: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

/*Styling for blog details page*/
.blog-content {
    padding:10px;
    margin: 10px;
}

.blog-comment {
    padding:5px;
    margin: 5px;
}

.comment-name {
    font-style: italic;
}

.add-comment {
    margin-bottom:20px;
}