.blog {
    margin : 10px;
    padding : 5px;
}



/*Styling the flash Message*/
.flash-message{
    text-align: center;
    color: darkslateblue;
}

/*To center the submit button*/
button {
    text-align: center;
    margin:auto;
    display:block;
}

/*user name in the login page*/
.user-name {
    margin:10px;
}

/*To make hyperlinks black and unstyle the hover*/
a {
    color: black;
    text-decoration: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

/*Styling for blog details page*/
.blog-content {
    padding:10px;
    margin: 10px;
}

.blog-comment {
    padding:5px;
    margin: 5px;
}

.comment-name {
    font-style: italic;
}

.add-comment {
    margin-bottom:20px;
}

/*Add blog page*/

legend {
    text-align: center;
}

.add-comment-name , .add-comment-body{
    width:70%;
    border: none;
    padding:10px;
}

.blog-date{
    margin-bottom: 10px;
}

.blog-title {
    width:100%;
    border: none;
    margin-bottom: 20px;
}

.blog-body {
    width:100%;
    border: none;
}

/*Details page css*/