<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href="/css/main.css">
    <title>
        Add a new Blog.
    </title>
</head>
<body>

<form action="/create-blog" method="post">

    <fieldset>
        <legend>Create new blog</legend>

        <label for="blog-title">Blog Title:</label>
        <input type="text" id="blog-title" name="blog-title">

        <label for="blog-body">Blog Body:</label>
        <input type="textarea" id="blog-body" name="blog-body">

    </fieldset>
    <button type="submit">Create blog!!!</button>
</form>

</body>
</html>