{{#partial "content"}}
    <form action="/create-blog" method="post">
        <fieldset>
            <legend>Create new blog</legend>

            <input type="text" class="blog-title" name="blog-title" placeholder="Title here">
            <div>
                <textarea name="blog-body" class="blog-body" placeholder="Content here"></textarea>
            </div>

        </fieldset>
        <button type="submit" class="btn-default">Create blog!!!</button>
    </form>
{{/partial}}
{{> base.hbs}}