{{#partial "content"}}
    {{#each allBlogSpots}}
                <div class="blog">
                    <div class="blog-title h2">
                        <a href="/details/{{this.slug}}">
                            {{this.title}}
                        </a>
                    </div>
                    <div class="blog-date h6">
                        {{this.date}}
                    </div>
                </div>
            {{/each}}

            <form class = "submit-form" action="/add-blog-page">
                <button type="submit" class="btn-default">Add blog!!!</button>
            </form>
{{/partial}}
{{> base.hbs}}
