{{#partial "content"}}
    <form action="/login">
        <div  class="login-details">
            <fieldset>
                <legend>Login Details:</legend>
                <label for="user-name" class="user-name-label">Enter your user name:</label>
                <input type="text" name="user-name" id="user-name" class="user-name">
                <button type="submit" class="btn-default login-btn">login</button>

            </fieldset>
        </div>
    </form>
{{/partial}}
{{> base.hbs}}