<!DOCTYPE html>
<html>
<head>
    <title>
        Welcome to Spark Blog App
    </title>
</head>
<body>
<h3>Login</h3>

<form action="/login">
    <label for="user-name">User Name:</label>
    <input type="text" name="user-name" id="user-name">
    <button type="submit">login</button>
</form>

</body>
</html>